@import url(https://fonts.googleapis.com/css?family=Montserrat:regular);

header {
    width: 100%;
    height: 3em;
    background-color: black;
    padding: 0 0.2em;
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Montserrat";
    text-decoration: none;
    color: whitesmoke;
}
